$primary_color: #076da3;$secondary_color: #cf8b3f;$third_color: #106cc7;$four_color: #076da3;$link_color: #076da3;$link_color_hover: #cf8b3f;$link_color_active: #cf8b3f;$gradient_color_from: #076da3;$gradient_color_to: #cf8b3f;
                $body_default_font: Google-Font;
            
                $heading_default_font: Google-Font;
            